@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:           240 21% 15%;
    --foreground:           226 64% 88%;
    --card:                 237 16% 23%;
    --card-foreground:      226 64% 88%;
    --popover:              237 16% 23%;
    --popover-foreground:   226 64% 88%;
    --primary:              217 92% 76%;
    --primary-foreground:   240 21% 15%;
    --secondary:            237 16% 23%;
    --secondary-foreground: 226 64% 88%;
    --muted:                237 16% 23%;
    --muted-foreground:     233 10% 47%;
    --accent:               233 13% 31%;
    --accent-foreground:    226 64% 88%;
    --destructive:          343 81% 75%;
    --destructive-foreground: 240 21% 15%;
    --border:               237 16% 23%;
    --input:                237 16% 23%;
    --ring:                 217 92% 76%;
    --radius:               0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
